<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <img src="https://cdn-icons-png.flaticon.com/128/1183/1183225.png" alt="Logo" width="150" height="150" class="d-inline-block align-text-top">
    <h1 class="display-3">TrackIT</h1>
    <p class="lead">
        <%= text %>
    </p>
    <hr>
    <a class="btn btn-light btn-lg" href="/" role="button">Retry</a>

  </div>
</div>

<%- include('partials/footer') %>