<%- include('partials/header') %>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-7 mx-auto">
      <div class="card card-body">
          <div class="mx-auto logodiv">
            <img src="https://cdn-icons-png.flaticon.com/128/1183/1183225.png" alt="Logo" width="150" height="150" class="d-inline-block align-text-top">
            <h2>Sign up on TrackIT</h2>
          </div>
          <hr class="dropdown-divider">
          <br>
          <form action="/register" method="POST">
            <br>
            <div class="form-group input-group-lg mx-auto col-12">
              <label for="email"><strong>Email</strong> </label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group input-group-lg mx-auto col-12">
              <label for="password"><strong>Password</strong></label>
              <input type="password" class="form-control" name="password">
            </div>
            <br>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button type="submit" class="btn btn-dark btn-lg">Sign Up</button>
              <span class="mx-auto">Already have an account? <a href="/login">Sign In</a></span>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
